@model PortalSOS.Web.Models.Perfil_Models
@{
    ViewBag.Title = "Excluir";

    <style>
        #example_length {
            display: none !important;
        }

        .dataTables_filter {
            display: none !important;
        }

        .erro-alert-nome {
            display: none;
        }

        .erro-alert {
            display: block;
        }

        .dataTables_length {
            display: none;
        }
    </style>
}

<h2>@ViewBag.Title</h2>


<hr />
@using (Html.BeginForm("PerfilCreate", "Perfil", FormMethod.Post, new { @class = "form-horizontal", id = "formCadastro", name = "formCadastro" }))
{
    if (TempData["msgerror"] != null)
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @TempData["msgerror"]
        </div>
    }
    else if (TempData["msgsucesso"] != null)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @TempData["msgsucesso"]
        </div>
    }
    else if (TempData["msgalerta"] != null)
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @TempData["msgalerta"]
        </div>
    }
    else if (!ViewContext.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @Html.ValidationSummary()
        </div>
    }